#contenedorclima {
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    margin: 0;
}

#caja1, #caja2, #caja3 {
    padding-top: 1rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#caja1, #caja2, #caja3 {
    background-color: var(--primary-color);
    color: black;    
}


#caja2 img {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
   
}
